<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
@model User
    <div class="container">
        <div class="form">
            <form asp-action="Register" asp-controller="Home" method="post">
                
                <label asp-for="FirstName">First Name: </label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName"></span><br>                
                <label asp-for="LastName">Last Name: </label>
                <input asp-for="LastName">
                <span asp-validation-for="LastName"></span><br>
                <label asp-for="Email">Email: </label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span><br>
                <label asp-for="Password">Password: </label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span><br>
                <label asp-for="Confirm">Confirm Password: </label>
                <input asp-for="Confirm">
                <span asp-validation-for="Confirm"></span><br>
                <button asp-for="submit">Submit</button>
            </form>
        </div>
    </div>
</body>