<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
@model LoginUser
    <div class="container">
        <div class="form">
            <form asp-action="Login" asp-controller="Home" method="post">
                <span asp-validation-for="LoginEmail"></span><br>
                <label asp-for="LoginEmail">Email: </label>
                <input asp-for="LoginEmail">
                <span asp-validation-for="LoginPassword"></span><br>
                <label asp-for="LoginPassword">Password: </label>
                <input asp-for="LoginPassword">
                <span asp-validation-for="LoginPassword"></span><br>
                <!-- <label asp-for="Confirm">Confirm Password: </label>
                <input asp-for="Confirm">
                <span asp-validation-for="Confirm"></span><br> -->
                <button>Login</button>
            </form>
        </div>
    </div>
</body>