<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h2>Welcome to CRUDelicious</h2>
        </div>
        <div class="navigation">
            <div class="dishes">
                <h4>Check out some recent dishes!</h4>
                
                @foreach (var d in ViewBag.List)
                {
                    <a href="/@d.DishId">"@d.Name by @d.Chef" </a>
                }
            </div>
            <div class="AddButton">
                <a href="/new">Add a Dish</a>
            </div>
        </div>
    </div>
</body>
</html>