<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Activity Center</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h2>Welcome to the Dojo Activity Center</h2>
            <h4>Please register or login if you are an existing user.</h4>
        </div>
        <div class="forms">
        <partial name="RegPartial"/>        
        <partial name="LoginPartial"/>
        </div>
    </div>
</body>
</html>